.app {
  position: relative;
}

.auth_popup {
  padding: 1rem;
  position: absolute;
  width: 50vw;
  /*height: 50vh;*/
  top: 25vh;
  left: 25vw;
  /*border: 1px solid black;*/
  border-radius: 1rem;
}

.form_header {
  display: flex;
  justify-content: space-around;
}

.form_header_name {
  padding-left: 20%;
  text-align: center;
  width: 70%;
}

.form_header_add {
  text-align: center;
  width: 30%;
}

.container {
  padding: 1rem,
}

.wrapper{
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}